body {
    background-color: #f3dec2;
}
h1{
    text-align: center;
    padding-top: .5em;
}
.search{
    margin-left: 10px;
}
.types-food{
    display: flex;
    padding:2em;
    height: 15em;
}
button[type=submit] {
    width: 30em;
    display: flex;
    justify-content: center;
    margin-left:0.3em;
    align-items: center;
}
.btn-outline-dark:hover{
    background-color: rgba(230, 162, 106, 0.849);
}
#grocery{
    text-align: center;
    background-color: #c7a674a4;
    margin: 5em;
    padding-top: 1em;
    padding-bottom: 3em;
    padding-left: 3em;
    padding-right: 3em;
}
