body {
    font-family: 'Indie Flower', cursive;
    background-color: #ffffff86;
    background-image: url("./images/background-trans1.jpg");
}
h1{
    text-align: center;
    padding-top: .5em;
}
.search{
    margin-left: 10px;
}
.types-food{
    display: flex;
    padding:2em;
    height: 15em;
}
button[type=submit] {
    width: 30em;
    display: flex;
    justify-content: center;
    margin-left:0.3em;
    margin-right:0.3em;
    align-items: center;
    border-color: #921882;
    color:#921882;
}
.btn-outline-dark:hover{
    background-color: rgba(0, 60, 255, 0.65);
}
.btn-outline-dark{
    border-color: #921882;
    color:#921882; 
}
.form-control{
    border-color: #921882;
    color: #921882;

}
#grocery{
    text-align: center;
    /* background-color: #74b6c7a4; */
    background-color:#dd18c37a;
    margin: 5em;
    padding-top: 1em;
    padding-bottom: 3em;
    padding-left: 3em;
    padding-right: 3em;
}
.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
#recipeDiv{
    display: none;
}
h3{
    text-align: center;
}
#recipeDiv{
    display: flex;
    flex-flow:column wrap;
    align-items: center;
    align-content: center;    
}
#myRecipes{
    display: flex;
    flex-wrap: wrap;
    border-image-width: 50%;
    flex-direction: column;
    align-items: center;
}
#myRecipes img{
    width:  100px;
    height: 100px;
}
#toggle{
    display: none;
    align-content: center;
    align-items: center;
}
