body {
    background-color: #F4DDBE;
}
.search{
    margin-left: 10px;
}
.types-food{
    display: flex;
    padding:2em;
    height: 15em;
}
button[type=submit] {
    width: 30em;
    display: flex;
    justify-content: center;
    margin-left:0.3em;
    align-items: center;
}
.btn-outline-dark:hover{
    background-color: rgba(230, 162, 106, 0.849);
}